body {
    font-family: DFKai-sb;
}
/* parallax外掛元件設定 */
.parallax-window {
    padding: 300px 0;
}
.parallax-window2 {
    background-color: rgba(138, 151, 153, 0.6);
}

/* 各段落設定 */
#about {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
#skills .h2 {
	color: rgb(211, 200, 255);
	text-shadow: #000 1px 1px 2px;
}
#works .h2{
	color: rgb(241, 97, 31);
	text-shadow: rgb(241, 31, 31) 1px 1px 2px;
}
#contact {
	text-shadow: #000 2px 2px 3px;
}
#contact textarea {
    resize: none;
}
#contact .contact_info {
    font-size: 1.25rem;
}

/* 上方個人資料連結 */
.outerlink {
    margin-top: 100px;
}
.outerlink a {
    text-decoration: none;
}
.outerlink a:first-child i {
    display: inline-block;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.21rem 1.71rem;
    color: rgb(28, 108, 212);
    transition: all 0.8s;
}
.outerlink a i,
span.sp-outerlink {
    display: inline-block;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.25rem 1.25rem;
    color: rgb(0, 0, 0, 0.8);
    transition: all 0.8s;
}
.outerlink a i:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transform: rotate(360deg);
}
span.sp-outerlink:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
}

/* 導覽列 */
.navbar {
	background-color: rgba(0, 0, 0, 0.75);	
}
.navbar-brand .img-profile {
    max-height: 5rem;
    max-width: 5rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.nav-item.active a {
    color: #fff !important;
}
.nav-item a:hover {
    color: #fff !important;
}
.nav-item {
    position: relative;
}
.nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
}
.nav-item.active::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0px;
    padding: 2.6rem;
    color: #fff !important;
    border-bottom: 5px solid #fff;
}
.nav-bom2.active::before {
    left: 3px;
    padding: 3rem;
}
.nav-bom3.active::before {
    left: 3px;
}
.nav-bom4.active::before {
    left: 3px;
    padding: 3.5rem;
}

h1{
	text-shadow: #000 2px 2px 3px;
}

/* 卡片元件 */
.card {
	position: relative;	
    box-shadow: 6px 8px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.9);
    /*transition: box-shadow .05s;*/
}
.card.card-work:hover {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}
.card.card-work:hover::before {
    content: "點我觀看作品";
	position: absolute;
    top: 0;
	left: 0;
	margin: 25% auto;
	width: 100%;
	font-size: 1.75rem;
	font-weight: bold;
    color: rgb(232, 241, 253);
	background-color: rgba(100, 100, 100, 0.5);
	animation: fadeInLeft .6s;
	text-shadow: #000 2px 2px 3px;
}
.a_nostyle:link {
    color: #000;
}
.a_nostyle:hover {
    text-decoration: none;
}
.vue{
	border-radius: 2rem 0;
	padding-left: 0.75rem;
	background: linear-gradient(to right, #41B883,white);
}
.hc{
	border-radius: 2rem 0;
	padding-left: 0.75rem;
	background: linear-gradient(to right, #E44D26, white);
}

/* footer */
.outerfoot a {
    text-decoration: none;
}
.outerfoot a:first-child i {
    display: inline-block;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.21rem 1.71rem;
    color: rgb(0, 0, 0, 0.8);
    transition: all 0.8s;
}
.outerfoot a i,
span.sp-outerfoot {
    display: inline-block;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1.25rem 1.25rem;
    color: rgb(0, 0, 0, 0.8);
    transition: all 0.8s;
}
.outerfoot a i:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
span.sp-outerfoot:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
}
